

body {

  margin: 0;

  font-family: Arial, Helvetica, sans-serif;

  background-color: #fafcfc;

  color: #333;

}

header {

  background-color: #91a8a8;

  color: white;

  text-align: center;

  padding: 20px;

}

.about {

  padding: 20px;

  background-color: #e0e0e0;

  font-size: 1.25em;

  border-radius: 5px;

}